.header {
    position: relative;
    color: white;
    text-align: center;
    padding: 55px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('https://vastphotos.com/files/uploads/photos/11737/chicago-sunset-photo-l.jpg?v=20240219145844');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }  

  
  .header h1,
  .header .contact-info p {
    color: black;
  }

.navigation ul li a {
    font-size: 19.25px; 
  }
  

  body {
    background-image: url('https://ih1.redbubble.net/image.88718373.9037/flat,750x,075,f-pad,750x1000,f8f8f8.jpg'), linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    background-blend-mode: overlay; 
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center center; 
  }
  

.bold-text { 
    font-weight: bold; 
  }  